/*
COLORS:

Fermont red: #98003C
Fermont KCHred: #C65C1D
Fermont green: #568456
Fermont light green: #AAD2A0
*/

.dsCountDown:after{
	content:'';
    clear: both;
}

.dsCountDown{
    display:inline-block;
	*display: inline;
    zoom: 1;
}

/* ------------------------- Flat Theme ------------------------- */
.dsCountDown.ds-flat {
	color: #000;
	position: relative;
	font-family: Arial, Helvetica, sans-serif, serif;
	font-size: 1em;
	border: 1px solid #cdcdcd;
	background: #efefef;
	box-shadow: 4px 4px 4px #888;
}

.ds-flat .ds-element {
	float: left;
	text-align: center;
	border-right: 1px solid #dedede;
	padding: 7px 17px;
}

.dsCountDown.ds-flat > .ds-element.ds-element-seconds {
	border-right: 0;
}

.ds-flat .ds-element-title {
	font-size: 0.8em;
	text-transform: lowercase;
	color: #666;
}

/* ------------------------- End Countdown ------------------------- */

.ds-flat .ds-element-value {
	font-size: 2.5em;
	color: #000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: gray;
}

.girly {
    height: 100vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(153, 0, 61, 0.8),
        rgba(200, 92, 30, 0.7)),
         url(../images/fermontHero1.png);
    background-size: cover;
    background-position: top;

}

.fmLogo {
    display: block;
    text-align: center;
    background-image: url(../images/smallFondo.png);
    background-repeat: repeat-x;
}

.fmLogoBig {
    text-align: center;
    background-image: url(../images/fondo.png);
    background-repeat: repeat-x;
}

.mainText {
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.dos {
    text-transform: lowercase;
    letter-spacing: 0.2rem;
}

.tres {
    font-weight: 400;
    margin-top: 0.5em;
    letter-spacing: 0.1em;
}

.cuatro {
    font-weight: 400;
    margin-top: 5rem;
    text-transform: initial;
    letter-spacing: 0.2em;
}

@media (min-width: 768px) {
    body {
      font-size: 30px;
    }
    .dos {
        letter-spacing: 0.4rem;
    }
    .tres {
        letter-spacing: 0.1em;
    }
    .cuatro {
        margin-top: 6rem;
    }
  }